html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  --piano-width: 5rem;
}
section {
  display: flex;
  height: calc(100vh - 4rem);
  width: 100vw;
}
aside {
  width: var(--piano-width);  
  white-space: pre;
}
table {
  flex: 1;
  height: calc(100vh - 4rem);
  width: calc(100vw - var(--piano-width));
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
tr {
  --s: 50%;
}
tr.drums {
  --s: 12%;
}
td {
  border: 1px solid #efefef;
  padding: 0;
}
td.light {
  background-color: hsl(var(--h), var(--s), 97.5%);
}
td.dark {
  background-color: hsl(var(--h), var(--s), 95.5%);
}
aside {
  display: flex;
  flex-direction: column;
}
aside > span {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1rem;
}
aside > span.black {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><rect fill='black' x='0%' y='12.5%' width='75%' height='75%'/><line x1='75%' x2='100%' y1='50%' y2='50%' stroke='black'></line></svg>");
  color: white;
}
aside > span.white {
  color: black;
}

span.white + span.white {
  border-top: 1px solid black;
}

aside > span.drums {
  justify-content: flex-start;
  text-transform: uppercase;
  border-top: 1px solid black;
}    

aside > span:last-of-type {
  border-bottom: 1px solid black;
}

nav,
nav > div {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav > div > * {
  margin-left: 0.25rem;
}
td.on {
  background: hsl(var(--h), var(--s), 50%);
}
#overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.75);
}

button {
  font-family: monospace;
}

input, button, td {
  cursor: pointer;
}